.about-section {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    /* background-color: var(--projects-bg) !important; */
    background-image: url(../../Assets/home-background-blur.jpg) !important;
    background-position: top center;
    background-repeat: no-repeat;

    background-size: cover;
    height: 100vh !important;
}

.about-container {
    box-sizing: border-box !important;
    position: relative !important;
    padding: 5vh 1vh 0vh 1vh !important;
    /* background-color: var(--projects-bg) !important; */
    background-color: transparent !important;
    height: 100vh !important;
}
.about-intro {
    text-align: center !important;
    padding-bottom: 15vh !important;
}

.about-intro-1 {
    text-align: center !important;
}
.about-intro-2 {
    text-align: left !important;
}

.about-subtitle {
    font-size: 1.6em !important;
    color: var(--about-type-font) !important;
    font-weight: 400 !important;
    text-align: center !important;
    text-transform: uppercase !important;
}

.about-description {
    font-size: 1em !important;
    color: lightblue !important;
    font-weight: 400 !important;
}

.about-description-container {
    background-color: var(--about-description-bg);
    padding: 1.5rem 2rem 1.5rem 2rem !important;
    border-radius: 1% !important;
}

.about-header {
    margin-top: 20vh !important;
}
.about-header-description {
    margin-top: 5vh !important;
}
.about-description {
    color: var(--about-description) !important;
    padding: 0.5rem;
}
.about-text {
    color: var(--about-intro-font) !important;
    font-weight: 500 !important;
    font-size: 2.5em !important;
}

@media (max-width: 767px) {
    .about-text {
        font-weight: 400 !important;
        font-size: 1.5em !important;
    }
}
.about-skills {
    height: auto !important;
    text-align: center !important;
}
.about-skill {
    color: rgb(65, 255, 103) !important;
    padding: 0.5rem 1rem 0.5rem 1rem !important;
    font-size: 1.5rem !important;
    margin: 1rem 1rem 1rem 1rem !important;
    transition: var(--main-transition) !important;
    display: inline-block !important;
}
.about-skill:hover {
    box-shadow: 0px 0px 5px black !important;
    transform: translateY(-0.25rem) !important;
}