.footer-container {
	background-color: transparent !important;
	transition: var(--main-transition) !important;
}
.footer-container-alt {
	backdrop-filter: blur(7px) !important;
}
.footer-container:hover {
	background-color: transparent !important;
	backdrop-filter: blur(7px) !important;
}
.footer-col {
	text-align: center !important;
	color: var(--footer-mark-font-color) !important;
	margin-top: 0.5em !important;
	margin-bottom: 0.5em !important;
}
.footer-icon {
	color: var(--footer-icon-color) !important;
	transition: var(--main-transition) !important;
	opacity: 0.8 !important;
	margin-right: 0.5rem !important;
	margin-left: 0.5rem !important;
}
.footer-icon:hover {
	opacity: 1 !important;
}
.footer-heading-mark {
	font-size: 1rem !important;
	padding: 0.5rem 0 0.5rem 0 !important;
	margin: 0 !important;
}
.footer-heading-links {
	font-size: 1.5rem !important;
	padding: 0.5rem 0 0 0 !important;
	margin: 0 !important;
}
@media (max-width: 767px) {
	.footer-col-links {
		margin-top: 0em !important;
		margin-bottom: 0.5em !important;
	}
	.footer-col-mark {
		margin-top: 0em !important;
		margin-bottom: 0em !important;
	}
	.footer-col-mid {
		height: 0 !important;
	}
}
