.references-markdown {
	color: white !important;
	box-sizing: border-box !important;
	padding: 0 !important;
	margin: 0 !important;
}
.references-markdown h1 {
	font-size: 3rem !important;
	font-weight: 700 !important;
	color: var(--references-markdown-title-font) !important;
	padding: 0 !important;
	margin: 0 !important;
}
.references-markdown h2 {
	font-size: 2.25rem !important;
	font-weight: 600 !important;
	color: var(--references-markdown-subtitle-font) !important;
	padding: 0 !important;
	margin: 0 !important;
}
.references-markdown h3 {
	font-size: 1.5rem !important;
	font-weight: 500 !important;
	color: var(--references-markdown-time-font) !important;
	padding: 0 !important;
	margin: 0 !important;
}
.references-markdown h4 {
	font-size: 2.25rem !important;
	font-weight: 500 !important;
	color: var(--references-markdown-subheading1-font) !important;
	padding: 0 !important;
	margin: 0 !important;
}
.references-markdown h5 {
	font-size: 2rem !important;
	font-weight: 500 !important;
	color: var(--references-markdown-subheading2-font) !important;
	padding: 0 !important;
	margin: 0 !important;
}
.references-markdown h6 {
	font-size: 1.75rem !important;
	font-weight: 500 !important;
	color: var(--references-markdown-subheading3-font) !important;
	padding: 0 !important;
	margin: 0 !important;
}
.references-markdown p {
	font-size: 1.1rem !important;
	font-weight: 500 !important;
	color: var(--references-markdown-paragraph-font) !important;
}
.references-markdown blockquote {
	background: var(--references-markdown-blockquote-background) !important;
	border-left: 3px solid var(--references-markdown-blockquote-border) !important;
	margin: 0.75rem 0vh !important;
	padding: 0.5rem !important;
}
.references-markdown blockquote p {
	margin: 0 !important;
	padding: 0.5rem !important;
}
.references-markdown ul {
	margin: 0 0 0 1.5rem !important;
	padding: 0 !important;
	list-style: none !important;
	border-left: 3px solid var(--references-markdown-ul-border) !important;
}
.references-markdown ol {
	margin: 0 0 0 2rem !important;
	padding: 0 !important;
	color: var(--references-markdown-list-font) !important;
}
.references-markdown li {
	font-size: 1.1rem !important;
	margin: 0.5rem !important;
	padding: 0 !important;
	color: var(--references-markdown-list-font) !important;
}
.references-markdown a {
	text-decoration: none !important;
	color: var(--references-markdown-link-font-before) !important;
	transition: var(--main-transition) !important;
}
.references-markdown a:hover {
	color: var(--references-markdown-link-font-after) !important;
}
