.references-section {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    /* background-color: var(--references-bg) !important; */
    background-image: url(../../Assets/Home/home-background-blur.jpg) !important;
	background-position: top center;
	background-repeat: no-repeat;

	background-size: cover;
    height: 100vh !important;
}
.references-container {
    box-sizing: border-box !important;
    position: relative !important;
    padding: 5vh 1vh 0vh 1vh !important;
    /* background-color: var(--references-bg) !important; */
    background-color: transparent !important;
    height: 100vh !important;
}
.references-intro {
    text-align: center !important;
    padding-bottom: 15vh !important;
}
.references-card {
    background-color: var(--references-card-bg) !important;
    margin: 2vh !important;
    padding: 1vh !important;
}