.references-section {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    background-color: var(--references-background-color) !important;
    height: 100vh !important;
}
.references-container {
    box-sizing: border-box !important;
    position: relative !important;
    padding: 5vh 1vh 0vh 1vh !important;
    background-color: var(--references-bg) !important;
    height: 100vh !important;
}
.references-intro {
    text-align: center !important;
    padding-bottom: 15vh !important;
}
.references-card {
    background-color: var(--references-card-bg) !important;
    margin: 2vh !important;
    padding: 1vh !important;
}