.contact-section {
	overflow-y: scroll !important;
	overflow-x: hidden !important;
	/* background-color: var(--contact-bg) !important; */
	background-image: url(../../Assets/Home/home-background-blur.jpg) !important;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh !important;
}
.contact-container {
	box-sizing: border-box !important;
	position: relative !important;
	padding: 5vh 1vh 0vh 1vh !important;
	/* background-color: var(--contact-bg) !important; */
	background-color: transparent !important;
	height: 100vh !important;
}
.contact-intro {
	text-align: center !important;
	padding-bottom: 15vh !important;
}
.form-group {
	display: inline-block !important;
	width: 75% !important;
	text-align: left !important;
}
.form-label {
	padding: 2vh 0vh 0vh 0vh !important;
	font-size: 1.5rem !important;
	color: var(--form-label-font) !important;
	font-weight: 500 !important;
}
.form-control {
	padding: 1vh !important;
	background-color: var(--form-area) !important;
	backdrop-filter: blur(5px) !important;
	border: 1px solid var(--form-outline) !important;
	color: var(--form-input-font) !important;
}
.form-control:active,
.form-control:checked,
.form-control::selection,
.form-control:focus {
	outline: none !important;
	box-shadow: none !important;
}
.textarea {
	height: 20vh !important;
}
.form-button {
	color: var(--form-button) !important;
	margin-left: 1rem !important;
	margin-right: 1rem !important;
	padding: 0.5rem 2rem 0.5rem 2rem !important;
	background-color: var(--form-button-bg) !important;
	border: none !important;
	opacity: 0.7 !important;
	border-radius: 0 !important;
	font-size: 1.5rem !important;
}
.form-button:focus,
.form-button:active,
.form-button-icon:focus {
	outline: none !important;
	box-shadow: none !important;
}
.form-button:hover {
	opacity: 1 !important;
	box-shadow:none !important;
}
.form-icon {
	margin-bottom: 0.4rem !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
}
.warning {
	color: var(--form-warning-font) !important;
	padding: 0 !important;
	margin: 0 !important;
	display: none !important;
	font-weight: 700 !important;
}
.direct {
	color: var(--form-direction-font) !important;
	padding: 0 !important;
	margin: 0 !important;
	display: none !important;
	font-weight: 700 !important;
}
.display {
	display: block !important;
}
@media (max-width: 767px) {
	.contact-header {
		padding-top: 12vh !important;
	}
	.form-group {
		width: 75vw !important;
	}
	.form-label {
		font-size: 1rem !important;
	}
}
.form-check-button {
	color: var(--form-check-button) !important;
}