.image-container {
	overflow-x: auto !important;
	white-space: nowrap !important;
	display: block !important;
}
.image {
    width: auto !important;
	height: auto !important;
	max-height: 500px !important;
}
