.modal {
	color: var(--references-post-main-font-color) !important;
}
.modal-content {
	padding: 0 !important;
}
.modal-header {
	background-color: var(--references-post-nav-color) !important;
	display: block !important;
	text-align: right !important;
	border: none !important;
	padding: 15px 30px 15px 15px !important;
}
.modal-title {
	background-color: var(--references-post-nav-color);
}
.modal-body {
	padding: 5vh 25vw 5vh 25vw !important;
	background-color: var(--references-post-body-color);
}
@media (max-width: 1500px) {
	.modal-body {
		padding: 5vh 20vw 5vh 20vw !important;
	}
}
@media (max-width: 1300px) {
	.modal-body {
		padding: 5vh 20vw 5vh 20vw !important;
	}
}
@media (max-width: 1100px) {
	.modal-body {
		padding: 5vh 15vw 5vh 15vw !important;
	}
}
@media (max-width: 600px) {
	.modal-body {
		padding: 5vh 10vw 5vh 10vw !important;
	}
}
.modal-footer {
	display: block !important;
	text-align: right !important;
	background-color: var(--references-post-nav-color) !important;
	border: none !important;
	padding: 15px 30px 15px 15px !important;
}

.modal-navigation-link-icon {
	color: var(--references-post-icon-color) !important;
	font-size: 2rem !important;
	transition: var(--main-transition);
}
.modal-navigation-link-icon:hover {
	transform: rotateZ(-90deg) !important;
}
.modal-footer-link-icon {
	color: var(--references-post-icon-color) !important;
	font-size: 2rem !important;
	opacity: 0 !important;
	transition: var(--main-transition) !important;
}
.modal-footer-link-icon:hover {
	opacity: 1 !important;
}
