.main-header {
	background-color: transparent !important;
	padding: 10vh 0vh 0vh 0vh !important;
}
.main-title {
	color: var(--main-title-font-color) !important;
}
.main-comment {
	color: var(--main-comment-font-color) !important;
}