.project-section {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    background-color: black !important;
    height: 100vh !important;
}
.project-container {
    box-sizing: border-box !important;
    position: relative !important;
    padding: 5vh 1vh 0vh 1vh !important;
    background-color: black !important;
    height: 100vh !important;
}
.project-intro {
    text-align: center !important;
    padding-bottom: 15vh !important;
}
.project-header {
    background-color: transparent !important;
    padding: 10vh 0vh 5vh 0vh !important;
}
.project-title {
    color: var(--alt-bright-orange) !important;
}
.project-comment {
    color: var(--alt-main-color-lighter) !important;
}
.project-card {
    background-color: var(--alt-main-color-lighter) !important;
    margin: 2vh !important;
    padding: 1vh !important;
}
.dim-orange {
	color: var(--alt-orange) !important;
	text-decoration: none !important;
    opacity: 0.6 !important;
}
.dim-orange:hover,
.dim-orange:active {
	color: var(--alt-bright-orange) !important;
	text-decoration: none !important;
    opacity: 1 !important;
}