.references-header-container {
	display: flex !important;
	justify-content: space-between !important;
}
.references-header-item-1 {
	display: flex !important;
	justify-content: space-between !important;
}
.references-header-item-2 {
	display: flex !important;
	justify-content: space-between !important;
}
.references-header-brand {
    font-size: 3rem !important;
    font-weight: 600 !important;
    padding: 1rem 2rem 1rem 0rem !important;
    margin: 0rem 0rem 3rem 0rem !important;
    text-decoration: none !important;
    color: var(--references-header-brand-font-color);
    border-right: 2px solid var(--references-header-border-color);
}
.references-header-back {
    font-size: 3rem !important;
    font-weight: 500 !important;
    padding: 1rem 1rem 1rem 2rem !important;
    margin: 0rem 5rem 3rem 0rem !important;
    text-decoration: none !important;
    color: var(--references-header-back-font-color);
}
.references-header-icon {
    
}
