.references-header-col {
	text-align: center !important;
	color: white !important;
	margin: 0.5rem 0rem 0.5rem 0rem !important;
	padding: 0rem 0rem 0rem 0rem !important;
	font-size: 1rem !important;
}
.references-header-link {
	color: var(--references-header-link) !important;
	text-decoration: none !important;
	font-size: 2rem;
	font-weight: 600 !important;
}
.references-header-link:hover {
	color: var(--references-header-link-hover) !important; 
}
.references-header-brand {
	padding: 0 2rem 0 0 !important;
	border-right: 1px solid var(--references-header-link) !important;
}
.references-header-back {
	padding: 0 0 0 2rem !important;
}
.references-header-comment {
	font-size: 0.8rem !important;
	font-weight: 300 !important;
	padding: 0.25rem !important;
}
.references-header-icon {
	color: var(--references-header-icon) !important;
	transition: var(--main-transition) !important;
	opacity: 0.8 !important;
	margin-right: 0.5rem !important;
	margin-left: 0.5rem !important;
}
.references-header-icon:hover {
	opacity: 1 !important;
}
