.references-header-col {
	text-align: center !important;
	color: var(--footer-mark-font-color) !important;
	margin: 0.5rem 0rem 0.5rem 0rem !important;
	padding: 0rem 0rem 0rem 0rem !important;
	font-size: 1rem !important;
}
.references-header-link {
	color: white !important;
	text-decoration: none !important;
	font-size: 2rem;
	font-weight: 600 !important;
}
.references-header-brand {
	padding: 0 2rem 0 0 !important;
	border-right: 1px solid white !important;
}
.references-header-back {
	padding: 0 0 0 2rem !important;
}
.references-header-comment {
	font-size: 0.8rem !important;
	font-weight: 300 !important;
	padding: 0.25rem !important;
}
