.footer-container {
	background-color: var(--footer-background-color) !important;
	transition: var(--main-transition);
}
.footer-container:hover {
	background-color: var(--footer-background-color-hover) !important;
	backdrop-filter: blur(3px);
}
.footer-col {
	text-align: center !important;
}
.footer-col h3 {
	font-size: 2em !important;
	margin-top: 0.5em !important;
	margin-bottom: 0.5em !important;
	font-weight: 300 !important;
}
.footer-icons {
	list-style: none !important;
	display: inline-block !important;
}
.footer-icon {
	color: var(--footer-icon-color) !important;
	transition: var(--main-transition);
	opacity: 0.7 !important;
}
.footer-icon:hover {
	opacity: 1 !important;
}
.icon-1 {
	margin-right: 0.5rem;
	padding-right: 0.5rem;
}
.icon-2 {
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.icon-3 {
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.icon-4 {
	margin-left: 0.5rem;
	padding-left: 0.5rem;
}
@media (max-width: 767px) {
	.footer-col h3 {
		font-size: 1.5em !important;
	}
}