.project-card-view {
	background-color: transparent !important;
	opacity: 0.8 !important;
	transition: var(--main-transition) !important;
	height: 100% !important;
}
.project-card-view:hover {
	opacity: 1 !important;
	box-shadow: 0 0 15px var(alt-main-color-opaque);
}

/* Card */
.card-date {
	background-color: var(--card-background) !important;
}
.card-text-date {
	color: var(--card-date);
	font-size: 1rem;
}
.card-image {
	padding: 3px 3px 0px 3px !important;
	background-color: var(--card-background) !important;
	image-rendering: -webkit-optimize-contrast !important; 
}
.card-body {
	background-color: var(--card-background) !important;
}
.card-text-title {
	font-size: 1.5rem !important;
	font-weight: 400 !important;
	color: var(--default-text-color) !important;
}
.card-text-body {
	color: var(--default-text-color) !important;
	font-size: 1rem !important;
	font-weight: 300 !important;
}
.card-button {
	color: var(--card-button) !important;
	margin-left: 1rem !important;
	margin-right: 1rem !important;
	padding: 0.5rem 2rem 0.5rem 2rem !important;
	background-color: var(--card-background) !important;
	border: none !important;
	opacity: 0.8 !important;
	border-radius: 0 !important;
	font-size: 1.5rem !important;
}
.card-button:focus,
.card-button:active,
.card-button-icon:focus {
	outline: none !important;
	box-shadow: none !important;
}
.card-button:hover {
	opacity: 1 !important;
	box-shadow: 0 0 8px #000000;
	transform: scale(1.02) !important;
}
.card-button-stack {
	color: var(--card-button) !important;
	margin-left: 1rem !important;
	margin-right: 1rem !important;
	padding: 0.5rem 2rem 0.5rem 2rem !important;
	background-color: var(--card-background) !important;
	border: none !important;
	opacity: 0.8 !important;
	border-radius: 0 !important;
	font-size: 1.5rem !important;
	cursor: default !important;
}
.card-button-stack:focus,
.card-button-stack:active,
.card-button-stack-icon:focus {
	outline: none !important;
	box-shadow: none !important;
}
.card-icon {
	margin-bottom: 0.4rem !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
}
