.project-card-view {
	background-color: transparent !important;
	opacity: 0.6 !important;
	transition: var(--main-transition) !important;
	height: 100% !important;
}
.project-card-view:hover {
	opacity: 1 !important;
	box-shadow: 0 0 15px var(--post-shadow);
}
/* Card */
.card-date {
	background-color: var(--post-date-bg) !important;
}
.card-text-date {
	color: var(--post-date);
	font-size: 1rem !important;
	font-weight: 500 !important;
}
.card-image {
	padding: 3px 3px 0px 3px !important;
	background-color: var(--post-img-outline) !important;
	image-rendering: -webkit-optimize-contrast !important; 
}
.card-body {
	background-color: var(--post-description-bg) !important;
}
.card-text-title {
	font-size: 1.5rem !important;
	font-weight: 500 !important;
	color: var(--post-text) !important;
}
.card-text-body {
	color: var(--post-text) !important;
	font-size: 1rem !important;
	font-weight: 400 !important;
}
.card-button {
	margin: 0 1rem 0 1rem !important;
	padding: 0.5rem 2rem 0.5rem 2rem !important;
	background-color: var(--post-icon-bg) !important;
	border: none !important;
	opacity: 0.8 !important;
	border-radius: 0 !important;
	font-size: 1.5rem !important;
}
.card-button:focus,
.card-button:active,
.card-button-icon:focus {
	outline: none !important;
	box-shadow: none !important;
}
.single-icon {
	color: var(--post-icon) !important;
}
.single-icon:hover {
	opacity: 1 !important;
	box-shadow: 0 0 8px #000000;
}
.stack-icon {
	color:  var(--post-icon-stack) !important;
	cursor: default !important;
}
.card-button-stack:focus,
.card-button-stack:active,
.card-button-stack-icon:focus {
	outline: none !important;
	box-shadow: none !important;
}
.card-icon {
	margin: 0 5px 0.4rem 5px !important;
}
