/* CSS Imports */
@import url("./Pages/Home/Home.css");
@import url("./Components/Card/Card.css");
@import url("./Components/Navigation/Navigation.css");
@import url("./Components/Footer/Footer.css");
@import url("./Components/Particle/Particle.css");
@import url("./Pages/Contact/Contact.css");

/* Variables */
:root {
	--main-bg-color: #000000;
	--alt-main-color: #111111c0;
	--alt-main-color-opaque: #111111;
	--alt-grey-color: rgb(173, 173, 173);
	--alt-bright-red: #f40d30;
	--alt-bright-orange: #ff8c00;
	--alt-orange: #ff7300;
	--main-transition: all 0.35s ease-in-out 0s;
	--main-transition: all 0.1s linear 0s;
	--default-text-color: #ffffff;
	--alt-dull-orange: #cc8a39;
	--card-background: #cc8a39;
	--card-shadow: #ff8c00;
	--card-text: #000000;
	--card-date: #000000;
	--card-body: #000000;
	--alt-bright-blue: #3822CD;
}
/* Scroll Bar */
::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-track {
	background: rgb(29, 29, 29);
}
::-webkit-scrollbar-thumb {
	background: rgb(107, 105, 105);
	border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
	background: rgb(161, 159, 159);
	border-radius: 12px;
}
