/* --------------- */
/*     General     */
/* --------------- */
html, body {
    overflow-x: hidden !important;
}

/* --------------- */
/*   Scroll Bar    */
/* --------------- */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(29, 29, 29);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(107, 105, 105);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(161, 159, 159);;
  border-radius: 12px;
}

/* --------------- */
/* Navbar Section  */
/* --------------- */
.navigation {
	position: fixed !important;
	transition: all 0.3s ease-out 0s !important;
	padding: 0.3rem 2rem !important;
	font-size: 1.2rem !important;
	transition: all .5s ease-in-out 0s !important;
	/* background: linear-gradient(#b46f1a, rgba(0, 0, 0, 0)); */
	/* background-color: rgb(0, 0, 0, 0) !important; */
	backdrop-filter: unset !important;
	background: none !important;
}

.navigation:hover {
	/* background-color: #0b0b0b !important; */
	backdrop-filter: blur(3px) !important;
}

/* this is what holds the hamburger icon, set it to transparent
and set the padding */
.navbar-toggler {
	padding: 0.3rem 1.5rem !important;
	position: relative !important;
	background-color: transparent !important;
	border-color: transparent !important;
}

/* hamburger icon for drop down menu */
.navbar-toggler span {
	display: block !important;
	background-color: white !important;
	height: 3px !important;
	width: 23px !important;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	transform: rotate(0deg) !important;
	left: 0 !important;
}

/* remove all bootstrap automatic outlines for toggle menu button
when pressed  */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
	outline: none !important;
	box-shadow: none !important;
}

/* specifies the transition from hamburger icon
to X */
.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
	transition: transform 0.35s ease-in !important;
	transition: transform 0.35s ease-in !important;
}

/* first span, part of the x, rotate and shift */
.navbar-toggler:not(.collapsed) span:nth-child(1) {
	position: absolute !important;
	left: 25px !important;
	top: 10px !important;
	transform: rotate(135deg) !important;
	background-color: #f40d30 !important;
}

/* second span, turn of display */
.navbar-toggler:not(.collapsed) span:nth-child(2) {
	height: 12px !important;
	visibility: hidden !important;
	background-color: transparent !important;
}

/* third span, part of the x, rotate and shift */
.navbar-toggler:not(.collapsed) span:nth-child(3) {
	position: absolute !important;
	left: 25px !important;
	top: 10px !important;
	transform: rotate(-135deg) !important;
	background-color: #f40d30 !important;
}

@media (max-width: 767px) {
	/* increases the height of the navbar once the width is too small */
	.navigation {
		padding: 1rem 2rem !important;
	}
}

.navbar-brand {
	/* sets the text color for the brand */
	color: white !important;
	font-size: 2rem !important;
	margin-bottom: 4px !important;
	font-weight: 600 !important;
}

.logo {
	/* sets the logo height and width, need to add in the class name */
	height: 1.4em !important;
	width: 2.5em !important;
}

.navbar-nav .nav-link {
	/* color of the navigation link text */
	color: white !important;
	/* spacing of the links in the navigation, includes link */
	padding-right: 1rem !important;
	padding-left: 1rem !important;
}

.nav-link {
	/* height of the navigation bar */
	padding: 0.8rem 1rem !important;
}

.navbar-nav .nav-item {
	position: relative;
	/* spacing of the navigation links, does not include links */
	margin-left: 30px;
}

.navbar-nav .nav-item a {
	/* boldness of link text */
	font-weight: 300;
	position: relative;
}

.navbar-nav .nav-item a::after {
	content: "";
	/* spacing from the nav item */
	margin-top: 2px;
	/* size of underline */
	padding-top: 1px;
	/* will be placed under since it will just come after */
	position: relative;
	/* means it starts on new line and takes up whole width */
	display: block;
	/* initial width and height, small green circle */
	height: 3px;
	width: 0%;
	/* curve the corners */
	border-radius: 20px;
	/* background color of after link */
	background: #ff8c00;
	/* position dot on the left, if middle when it collapses it will look weird */
	left: 0;
	/* transitions the underline out, see hover */
	transition: all 0.35s ease-in-out 0s;
}

@media (min-width: 767px) {
	.navbar-nav .nav-item a:hover::after {
		/* when hovered, line extends */
		width: 100%;
        background: #f40d30;
	}
}

/* used to bold the header link, whichever is active */
.boldLink {
	/* link is clicked, it is bolded */
	font-weight: 500 !important;
}

/* --------- */
/*   Home    */
/* --------- */

/* particles style */
.particles {
	position: fixed !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	width: 100% !important;
	height: 100% !important;
}

/* sets the background image, renders it, adds some padding */
.home-container {
	background-color: black;
	position: relative;
	z-index: -1;
	background-image: url(./Assets/home-image-4.jpg);
	background-position: 0% 53% !important;
	background-repeat: no-repeat;
	height: 100vh;
	image-rendering: pixelated !important;
}

@media (min-width: 1140px) and (max-width: 1230px) {
	.home-container {
		background-position: 10% 60% !important;
	}
}

@media (min-width: 990px) and (max-width: 1140px) {
	.home-container {
		background-position: 20% 60% !important;
	}
}

@media (min-width: 700px) and (max-width: 990px) {
	.home-container {
		background-position: 30% 60% !important;
	}
}

@media (min-width: 0px) and (max-width: 700px) {
	.home-container {
		background-position: 50% 60% !important;
	}
}


/* aligns the header on the left and makes default text white */
.home-intro {
	text-align: left !important;
	color: white !important;
}

/* moves the header down and to the left */
.home-header {
	padding-left: 4vh !important;
	padding-top: 30vh !important;
}

/* sets header text boldness */
.home-text {
	font-weight: 300 !important;
}

/* makes my name different color and keeps it on the
 same line as greeting */
.home-name {
	color: white;
	font-weight: 400;
	display: inline !important;
}

/* font size and color/weight */
.Typewriter__wrapper {
	font-size: 1.5em !important;
	color: #ff8c00 !important;
	font-weight: 400 !important;
}

/* cursor size and color */
.Typewriter__cursor {
	font-size: 1.6em !important;
	color: #cc8a39 !important;
}

/* removes cursor (bug), makes text smaller */
@media (max-width: 767px) {
	.Typewriter__wrapper {
		font-size: 1.2em !important;
		position: absolute !important;
	}
	.Typewriter__cursor {
		display: none !important;
	}
}

/* --------- */
/*   Footer  */
/* --------- */
.footer-container {
	background-color: black !important;
	bottom: 0 !important;
}
.footer-col {
	text-align: center !important;
}

@media (max-width: 767px) {
	.footer-col {
		text-align: center !important;
	}
}

.footer-col h3 {
	font-size: 1em;
	color: white !important;
	margin-top: 0.5em !important;
	margin-bottom: 0.5em !important;
	font-weight: 100;
}

.footer-icon {
	margin-top: 0.5em !important;
	margin-bottom: 0.5em !important;
	padding: 0 !important;
	color: white !important;
	list-style: none !important;
	display: inline-block !important;
	padding: 0 10px 0 10px !important;
}
