/* 
 * Head CSS File
*/

/* Montserrat Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* CSS Imports */
@import url("./Pages/Home/Home.css");
@import url("./Pages/Contact/Contact.css");
@import url("./Pages/Projects/Projects.css");
@import url("./Pages/References/References.css");

@import url("./Components/Home/Particle/Particle.css");
@import url("./Components/Home/Type/Type.css");
@import url("./Components/Contact/ThreeDotsWave/ThreeDotsWave.css");

@import url("./Components/Other/Navigation/Navigation.css");
@import url("./Components/Other/Footer/Footer.css");
@import url("./Components/Other/Header/Header.css");
@import url("./Components/Other/Post/Post.css");

@import url("./Components/References//ReferencesMarkdown/ReferencesMarkdown.css");
@import url("./Components/References/ReferencesPost/ReferencesPost.css");
@import url("./Components/References/ReferencesHeader/ReferencesHeader.css");
@import url("./Components/References/ReferencesMarkdown/Code/Code.css");
@import url("./Components/References/ReferencesMarkdown/Media/Media.css");
@import url("./Components/References/ReferencesMarkdown/Latex/Latex.css");

/* Variables */
:root {
	/* Constants */
	--main-transition: all 0.1s ease-in-out 0s;
	--long-transition: all 0.3s ease-in-out 0s;
	--selection-font: #ffffff;
	--selection-bg: #3d3d3d;

	/* ============= */
	/*   Home Page   */	
	/* ============= */
	--home-intro-font: #FFFFFF;
	--home-type-font: rgb(132, 242, 154);
	--home-type-cursor: rgb(65, 255, 103);

	/* ============= */
	/* Projects Page */	
	/* ============= */
	--projects-bg: lightblue; 
	--projects-card-bg: transparent;

	/* =============== */
	/* References Page */	
	/* =============== */
	--references-bg: #000000;
	--references-card-bg: transparent;

	/* ============ */
	/* Contact Page */	
	/* ============ */
	--form-outline: transparent;
	--form-label-font: #4b5cdd;
	--form-area: rgba(255, 0, 0, 0.159);
	--form-input-font: white;
	--form-warning-font: #f40d30;
	--form-direction-font: rgb(132, 242, 154);
	--form-button: white;
	--form-button-bg: #4b5cdd;
	--form-check-button: rgb(132, 242, 154);
	--three-dots-color: #ffffff;

	/* Navigation */
	--navigation-bg: transparent;
	--navigation-bg-scroll: black;
	--navigation-bg-hover: transparent;
	--navigation-hamburger-toggle: #ffffff;
	--navigation-exit: #f40d30;
	--navigation-brand: #ffffff;
	--navigation-links: #FFFFFF;
	--navigation-links-underline-before: #ff8c00;
	--navigation-links-underline-after: #10aff5;

	/* Footer */
	--footer-mark-font-color: lightblue;
	--footer-icon-color: lightblue;

	/* Header */
	--main-title-font-color: #4b5cdd;
	--main-comment-font-color: #FFFFFF;
	--main-comment-link-color-after: rgb(132, 242, 154);
	--main-comment-link-color-before: rgb(65, 255, 103);

	/* References Post */
	--references-post-nav-color: #111111;
	--references-post-body-color: #111111;
	--references-post-icon-color: #f40d30;
	
	/* References Header */
	--references-header-link: white;
	--references-header-link-hover: blue;
	--references-header-icon: orange;

	/* References Markdown */
	--references-markdown-title-font: #4b5cdd;
	--references-markdown-subtitle-font: #767fc2;
	--references-markdown-time-font: rgb(132, 242, 154);
	--references-markdown-subheading1-font: #a2e7f7;
	--references-markdown-subheading2-font: #3d96aa;
	--references-markdown-subheading3-font: #3170b3;
	--references-markdown-paragraph-font: #c7c7c7;
	--references-markdown-blockquote-background: #242424;
	--references-markdown-blockquote-border: rgb(132, 242, 154);
	--references-markdown-list-font: #dfdfdf;
	--references-markdown-ul-border: #ffffff;
	--references-markdown-link-font-before: #596cfa;
	--references-markdown-link-font-after: #596cfa;
	--references-markdown-latex-font: #ffffff; 
	--references-markdown-latex-border: #767fc2;
	--references-markdown-latex-background: #242424;
	--code-copy-background: #000000;
	--code-copy-font: #ffffff;

	/* Post */
	--post-shadow: rgba(221, 221, 221, 0.234);
	--post-date-bg: rgba(221, 221, 221, 0.2);
	--post-date: white;
	--post-img-outline: rgba(221, 221, 221, 0.2);
	--post-description-bg: rgba(221, 221, 221, 0.22);
	--post-text: white;
	--post-icon: white;
	--post-icon-stack: white;
	--post-icon-bg: transparent;
}

/* Scroll Bar */
::-webkit-scrollbar {
	display: none;
	width: 7px;
}
::-webkit-scrollbar-track {
	background: rgb(29, 29, 29);
}
::-webkit-scrollbar-thumb {
	background: rgb(107, 105, 105);
	border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
	background: rgb(161, 159, 159);
	border-radius: 12px;
}

/* General CSS */
body {
	margin: 0 !important;
	font-family: "Montserrat", sans-serif !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}

::selection {
	color: var(--selection-font);
	background: var(--selection-bg);
}
