.code-container {
    position: relative !important;
}
.code-copy-button {
    position: absolute;
    right: 5px;
    top: 5px;
	color: var(--code-copy-font-color) !important;
	padding: 0.25vh 1vh 0.25vh 1vh !important;
	background-color: var(--code-copy-background-color) !important;
	border: none !important;
	opacity: 0.8 !important;
	border-radius: 0 !important;
	font-size: 1.5rem !important;
    border-radius: 10% !important;
}
.code-copy-button:focus,
.code-copy-button:active,
.code-copy-button-icon:focus {
	outline: none !important;
	box-shadow: none !important;
}
.code-copy-button:hover {
	opacity: 1 !important;
}