.loading-container {
    display: flex !important;
    justify-content: center !important;
    margin-bottom: 0.8rem !important;
    padding: 0.5rem 0rem 0.5rem 0rem !important;
}
.loading-circle {
    display: block !important;
    width: 0.5rem !important;
    height: 0.5rem !important;
    background-color: var(--three-dots-color) !important;
    border-radius: 100% !important;
}
.span-1 {
    margin-right: 0.5rem !important;
}
.span-3 {
    margin-left: 0.5rem !important;
}
